# sandbox

In [40]:
# import libraries
import pandas as pd
import sqlite3

In [41]:
# Create connection (create db if not there)
con = sqlite3.connect('drp.db')

In [42]:
# Read messages
df = pd.read_sql('SELECT * FROM messages', con)
print('messages shape is:', df.shape)
df.head()

messages shape is: (26215, 39)

,id,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,direct,1,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
df_2nd = df.iloc[:, 3:].sum().sort_values().reset_index()
df_2nd.columns = ['category','count']
print('df_2nd shape is:', df_2nd.shape)
df_2nd.head()

df_2nd shape is: (36, 2)

      category  count
0  child_alone      0
1        offer    118
2        shops    120
3        tools    159
4         fire    282

In [44]:
# Read scores
df_scores = pd.read_sql('SELECT * FROM scores', con)

# Rename the first column to category
df_scores.rename(columns = {df_scores.columns[0]: 'category'}, inplace=True)

df_scores.head()

       category  accuracy  precision    recall        f1
0       related  0.812321   0.832627  0.940984  0.883495
1       request  0.899104   0.860194  0.492222  0.626148
2         offer  0.996758   0.000000  0.000000  0.000000
3   aid_related  0.786000   0.748222  0.727524  0.737728
4  medical_help  0.921228   0.556522  0.150235  0.236599

In [45]:
# We want the same sort order for df_scores categories as for df_2nd.
# Append the count to df_scores via merge
df_scores = df_scores.merge(df_2nd, on = 'category')
df_scores.head()

       category  accuracy  precision    recall        f1  count
0       related  0.812321   0.832627  0.940984  0.883495  20093
1       request  0.899104   0.860194  0.492222  0.626148   4474
2         offer  0.996758   0.000000  0.000000  0.000000    118
3   aid_related  0.786000   0.748222  0.727524  0.737728  10860
4  medical_help  0.921228   0.556522  0.150235  0.236599   2084

In [46]:
df_scores.sort_values('count', inplace = True)
df_scores

                  category  accuracy  precision    recall        f1  count
9              child_alone  1.000000   0.000000  0.000000  0.000000      0
2                    offer  0.996758   0.000000  0.000000  0.000000    118
25                   shops  0.995613   0.000000  0.000000  0.000000    120
23                   tools  0.993134   0.000000  0.000000  0.000000    159
31                    fire  0.989891   0.000000  0.000000  0.000000    282
24               hospitals  0.989701   0.000000  0.000000  0.000000    283
15          missing_people  0.987221   1.000000  0.028986  0.056338    298
26             aid_centers  0.988556   0.000000  0.000000  0.000000    309
13                clothing  0.986840   0.933333  0.170732  0.288660    405
7                 security  0.979592   1.000000  0.009259  0.018349    471
33                    cold  0.979020   0.676471  0.188525  0.294872    530
22             electricity  0.979783   0.888889  0.070796  0.131148    532
14                   money  0.981881   0.800000  0.040816  0.077670    604
6        search_and_rescue  0.970818   0.900000  0.055901  0.105263    724
8                 military  0.971009   0.769231  0.120482  0.208333    860
16                refugees  0.965478   0.761905  0.083333  0.150235    875
27    other_infrastructure  0.951745   0.000000  0.000000  0.000000   1151
17                   death  0.961663   0.839506  0.265625  0.403561   1194
20               transport  0.954606   0.714286  0.117188  0.201342   1201
5         medical_products  0.955178   0.864407  0.183453  0.302671   1313
21               buildings  0.955560   0.883721  0.142857  0.245955   1333
34           other_weather  0.949456   0.514286  0.067669  0.119601   1376
10                   water  0.961663   0.919355  0.478992  0.629834   1672
19  infrastructure_related  0.931528   0.000000  0.000000  0.000000   1705
4             medical_help  0.921228   0.556522  0.150235  0.236599   2084
29                  floods  0.951745   0.857759  0.474940  0.611367   2155
12                 shelter  0.940874   0.790850  0.495902  0.609572   2314
30                   storm  0.948884   0.732468  0.630872  0.677885   2443
32              earthquake  0.971581   0.880631  0.802875  0.839957   2455
11                    food  0.950792   0.812371  0.702317  0.753346   2923
18               other_aid  0.879840   0.703704  0.058282  0.107649   3446
1                  request  0.899104   0.860194  0.492222  0.626148   4474
35           direct_report  0.858097   0.765823  0.364458  0.493878   5075
28         weather_related  0.879077   0.816733  0.717285  0.763785   7297
3              aid_related  0.786000   0.748222  0.727524  0.737728  10860
0                  related  0.812321   0.832627  0.940984  0.883495  20093